{% extends "base.html" %}

{% block content %}
   <!-- ======= Portfolio Section ======= -->
   <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Check our Portfolio</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename = 'assets/img/portfolio/pixstellar.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Pixstellar</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="{{url_for('static', filename = 'assets/img/portfolio/pixstellar.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="/portfolio/pixstellar" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename = 'assets/img/portfolio/astro.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="{{url_for('static', filename = 'assets/img/portfolio/astro.png')}}"data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="/portfolio/astro" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{ url_for('static', filename = 'assets/img/portfolio/craffic.png') }}" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Craffic</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="{{url_for('static', filename = 'assets/img/portfolio/craffic.png')}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="/portfolio/craffic" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename = 'assets/img/portfolio/dodgeBar.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Dodge Bar</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="{{url_for('static', filename = 'assets/img/portfolio/dodgeBar.png')}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="/portfolio/dodgeBar" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename = 'assets/img/portfolio/fitzen.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fitzen</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="{{url_for('static', filename = 'assets/img/portfolio/fitzen.png')}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="/portfolio/fitzen" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename = 'assets/img/portfolio/heya.png')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="{{url_for('static', filename = 'assets/img/portfolio/heya.png')}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="/portfolio/heya" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}